@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/   
}

body {
    background-image: linear-gradient(to right, #F2D4C2, #F2CA52, #F28705);
}

main {
    background-color: white;
    border-radius: 20px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #d37605b4;
}

h1 {
    color: #D91604;
    text-align: center;
    text-shadow: 1px 1px 2px #b81001dc;
}

h2 {
    color: #8C0303;
}

p {
    text-align: justify;
}